    






<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>REGISTER - tinyAPP</title>
  <style type="text/css">
    .error-page {
        margin: 100px auto;
        text-align: center;}
    .error-page__block-number {
        width: 305px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;}
    .error-page__number {
        font-size: 140px;
        line-height: 120px;
        font-weight: 600;
    }
    .error-page__title {
        font-size: 40px;
        margin: 25px 0 15px;}
    .error-page__desc {
        font-size: 15px;
        line-height: 20px;
    }
  </style>
</head>

<body>

  <!-- error form  -->
  <div class="error-page">
    <div class="error-page__block-number">
        <span class="error-page__number">4</span>
        <img src="//s5o.ru/common/css/i/e_crish.png" srcset="//s5o.ru/common/css/i/e_crish.png 1x, //s5o.ru/common/css/i/e_crish_retina.png 2x">
        <span class="error-page__number"><%= num %></span>
    </div>
    <p class="error-page__title"></p><%= errorMsg %><p class="error-page__desc">Maybe, this page has been deleted or never existed.<br> Try again from index page</p>  
    </div>
 
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>